.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#resultado{
    margin-top: 50px;
}
#buscar{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}
#date{
    margin-top: 20px;
}